/*! 
 * mobilebone.css
 * by zhangxinxu(.com) 2014-09-26
 * some necessary CSS for mobilebone.js
 * good luck for U, ^_^
**/

a, img {
    -webkit-touch-callout: none;
}
body {
	margin: 0;
	-webkit-user-select: none;
	user-select: none;
	-ms-touch-action: none;
}

/* construction */
html, body, .page {
	height: 100%; width: 100%;
	overflow: hidden;
}
.page {
	position: absolute; left: 0; top: 0;
	-webkit-animation: .35s ease-in-out;
	animation: .35s ease-in-out;
}
.page.out {
	display: none;
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);
}
.page.in {
	-webkit-transform: translateX(0);
	transform: translateX(0);
}

/* mask layer when ajax sending... */
.mask {
	height: 100%; width: 100%;
	background-color: rgba(255,255,255,.35);
	position: absolute;
	z-index: 9;
}
.loading { /* more info: http://www.zhangxinxu.com/wordpress/?p=3357 */
    width: 3px; height:3px;
    border-radius: 100%;                      
    box-shadow: 0 -10px 0 1px currentColor,           /* top, 1px expand */
                10px 0px currentColor,                /* right */    
                0 10px currentColor,                  /* bottom */
                -10px 0 currentColor,                 /* left */
                              
                -7px -7px 0 .5px currentColor,        /* left-top, 0.5px expand */
                7px -7px 0 1.5px currentColor,        /* right-top, 1.5px expand */                    
                7px 7px currentColor,                 /* right-bottom */
                -7px 7px currentColor;                /* left-bottom */
	-webkit-animation: loading 1s step-start infinite;
	animation: loading 1s step-start infinite; 
	/*center*/
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
	margin: auto;
}

/* Default animation - slide, you can visit '/test/transition/aniamte.css' to get more styles of animation */
.slide.in {
	-webkit-animation-name: slideinfromright;
	animation-name: slideinfromright;
}
.slide.out {
	-webkit-animation-name: slideouttoleft;
	animation-name: slideouttoleft;
}
.slide.reverse.out {
	-webkit-animation-name: slideouttoright;
	animation-name: slideouttoright;
}
.slide.reverse.in {
	-webkit-animation-name: slideinfromleft;
	animation-name: slideinfromleft;
}

@-webkit-keyframes slideinfromright {
    from { -webkit-transform: translateX(100%); }
    to { -webkit-transform: translateX(0); }
}
@keyframes slideinfromright {
    from { transform: translateX(100%); }
    to { transform: translateX(0); }
}
@-webkit-keyframes slideinfromleft {
    from { -webkit-transform: translateX(-100%); }
    to { -webkit-transform: translateX(0); }
}
@keyframes slideinfromleft {
    from { transform: translateX(-100%); }
    to { transform: translateX(0); }
}
@-webkit-keyframes slideouttoleft {
    from { -webkit-transform: translateX(0); }
    to { -webkit-transform: translateX(-100%); }
}
@keyframes slideouttoleft {
    from { transform: translateX(0); }
    to { transform: translateX(-100%); }
}
@-webkit-keyframes slideouttoright {
    from { -webkit-transform: translateX(0); }
    to { -webkit-transform: translateX(100%); }
}
@keyframes slideouttoright {
    from { transform: translateX(0); }
    to { transform: translateX(100%); }
}

/* chrysanthemum loading effect */
@-webkit-keyframes loading {
     0% { -webkit-transform: rotate(0deg); }
	 12% { -webkit-transform: rotate(45deg); }
	25% { -webkit-transform: rotate(90deg); }
	37% { -webkit-transform: rotate(135deg); }
	50% { -webkit-transform: rotate(180deg); }
	63% { -webkit-transform: rotate(225deg); }
	75% { -webkit-transform: rotate(270deg); }
	87% { -webkit-transform: rotate(315deg); }
   90% { -webkit-transform: rotate(360deg); }
}
@keyframes loading {
      0% { transform: rotate(0deg); }
	 12% { transform: rotate(45deg); }
	25% { transform: rotate(90deg); }
	37% { transform: rotate(135deg); }
	50% { transform: rotate(180deg); }
	63% { transform: rotate(225deg); }
	75% { transform: rotate(270deg); }
	87% { transform: rotate(315deg); }
   90% { transform: rotate(360deg); }
}

/*
* jQuery Mobile Framework
* Copyright (c) jQuery Project
* Dual licensed under the MIT (MIT-LICENSE.txt) or GPL (GPL-LICENSE.txt) licenses.
*/
.in {
	-webkit-animation-timing-function: ease-out;
	-webkit-animation-duration: 350ms;
	animation-timing-function: ease-out;
	animation-duration: 350ms;
}
.out {
	-webkit-animation-timing-function: ease-in;
	-webkit-animation-duration: 225ms;
	animation-timing-function: ease-in;
	animation-duration: 225ms;
}
@-webkit-keyframes fadein {
	from { opacity: 0; }
	to { opacity: 1; }
}
@keyframes fadein {
	from { opacity: 0; }
	to { opacity: 1; }
}
@-webkit-keyframes fadeout {
	from { opacity: 1; }
	to { opacity: 0; }
}
@keyframes fadeout {
	from { opacity: 1; }
	to { opacity: 0; }
}
.fade.out {
	opacity: 0;
	-webkit-animation-duration: 125ms;
	-webkit-animation-name: fadeout;
	animation-duration: 125ms;
	animation-name: fadeout;
}
.fade.in {
	opacity: 1;
	-webkit-animation-duration: 225ms;
	-webkit-animation-name: fadein;
	animation-duration: 225ms;
	animation-name: fadein;
}
.pop {
	-webkit-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
}
.pop.in {
	-webkit-transform: scale(1);
	-webkit-animation-name: popin;
	-webkit-animation-duration: 350ms;
	transform: scale(1);
	animation-name: popin;
	animation-duration: 350ms;
	opacity: 1;
}
.pop.out {
	-webkit-animation-name: fadeout;
	-webkit-animation-duration: 100ms;
	animation-name: fadeout;
	animation-duration: 100ms;
	opacity: 0;
}
.pop.in.reverse {
	-webkit-animation-name: fadein;
	animation-name: fadein;
}
.pop.out.reverse {
	-webkit-transform: scale(.8);
	-webkit-animation-name: popout;
	transform: scale(.8);
	animation-name: popout;
}
@-webkit-keyframes popin {
	from {
		-webkit-transform: scale(.8);
		opacity: 0;
	}
	to {
		-webkit-transform: scale(1);
		opacity: 1;
	}
}
@keyframes popin {
	from {
		transform: scale(.8);
		opacity: 0;
	}
	to {
		transform: scale(1);
		opacity: 1;
	}
}
@-webkit-keyframes popout {
	from {
		-webkit-transform: scale(1);
		opacity: 1;
	}
	to {
		-webkit-transform: scale(.8);
		opacity: 0;
	}
}
@keyframes popout {
	from {
		transform: scale(1);
		opacity: 1;
	}
	to {
		transform: scale(.8);
		opacity: 0;
	}
}
/* keyframes for slidein from sides */
@-webkit-keyframes slideinfromright {
	from { -webkit-transform: translate3d(100%,0,0); }
	to { -webkit-transform: translate3d(0,0,0); }
}
@keyframes slideinfromright {
	from { transform: translateX(100%); }
	to { transform: translateX(0); }
}
@-webkit-keyframes slideinfromleft {
	from { -webkit-transform: translate3d(-100%,0,0); }
	to { -webkit-transform: translate3d(0,0,0); }
}
@keyframes slideinfromleft {
	from { transform: translateX(-100%); }
	to { transform: translateX(0); }
}
/* keyframes for slideout to sides */
@-webkit-keyframes slideouttoleft {
	from { -webkit-transform: translate3d(0,0,0); }
	to { -webkit-transform: translate3d(-100%,0,0); }
}
@keyframes slideouttoleft {
	from { transform: translateX(0); }
	to { transform: translateX(-100%); }
}
@-webkit-keyframes slideouttoright {
	from { -webkit-transform: translate3d(0,0,0); }
	to { -webkit-transform: translate3d(100%,0,0); }
}
@keyframes slideouttoright {
	from { transform: translateX(0); }
	to { transform: translateX(100%); }
}
.slide.out, .slide.in {
	-webkit-animation-timing-function: ease-out;
	-webkit-animation-duration: 350ms;
	animation-timing-function: ease-out;
	animation-duration: 350ms;
}
.slide.out {
	-webkit-transform: translate3d(-100%,0,0);
	-webkit-animation-name: slideouttoleft;
	transform: translateX(-100%);
	animation-name: slideouttoleft;
}
.slide.in {
	-webkit-transform: translate3d(0,0,0);
	-webkit-animation-name: slideinfromright;
	transform: translateX(0);
	animation-name: slideinfromright;
}
.slide.out.reverse {
	-webkit-transform: translate3d(100%,0,0);
	-webkit-animation-name: slideouttoright;
	transform: translateX(100%);
	animation-name: slideouttoright;
}
.slide.in.reverse {
	-webkit-transform: translate3d(0,0,0);
	-webkit-animation-name: slideinfromleft;
	transform: translateX(0);
	animation-name: slideinfromleft;
}
.slidefade.out {
	-webkit-transform: translateX(-100%);
	-webkit-animation-name: slideouttoleft;
	-webkit-animation-duration: 225ms;
	transform: translateX(-100%);
	animation-name: slideouttoleft;
	animation-duration: 225ms;
}
.slidefade.in {
	-webkit-transform: translateX(0);
	-webkit-animation-name: fadein;
	-webkit-animation-duration: 200ms;
	transform: translateX(0);
	animation-name: fadein;
	animation-duration: 200ms;
}
.slidefade.out.reverse {
	-webkit-transform: translateX(100%);
	-webkit-animation-name: slideouttoright;
	-webkit-animation-duration: 200ms;
	transform: translateX(100%);
	animation-name: slideouttoright;
	animation-duration: 200ms;
}
.slidefade.in.reverse {
	-webkit-transform: translateX(0);
	-webkit-animation-name: fadein;
	-webkit-animation-duration: 200ms;
	transform: translateX(0);
	animation-name: fadein;
	animation-duration: 200ms;
}
/* slide down */
.slidedown.out {
	-webkit-animation-name: fadeout;
	-webkit-animation-duration: 100ms;
	animation-name: fadeout;
	animation-duration: 100ms;
}
.slidedown.in {
	-webkit-transform: translateY(0);
	-webkit-animation-name: slideinfromtop;
	-webkit-animation-duration: 250ms;
	transform: translateY(0);
	animation-name: slideinfromtop;
	animation-duration: 250ms;
}
.slidedown.in.reverse {
	-webkit-animation-name: fadein;
	-webkit-animation-duration: 150ms;
	animation-name: fadein;
	animation-duration: 150ms;
}
.slidedown.out.reverse {
	-webkit-transform: translateY(-100%);
	-webkit-animation-name: slideouttotop;
	-webkit-animation-duration: 200ms;
	transform: translateY(-100%);
	animation-name: slideouttotop;
	animation-duration: 200ms;
}
@-webkit-keyframes slideinfromtop {
	from { -webkit-transform: translateY(-100%); }
	to { -webkit-transform: translateY(0); }
}
@keyframes slideinfromtop {
	from { transform: translateY(-100%); }
	to { transform: translateY(0); }
}
@-webkit-keyframes slideouttotop {
	from { -webkit-transform: translateY(0); }
	to { -webkit-transform: translateY(-100%); }
}
@keyframes slideouttotop {
	from { transform: translateY(0); }
	to { transform: translateY(-100%); }
}
/* slide up */
.slideup.out {
	-webkit-animation-name: fadeout;
	-webkit-animation-duration: 100ms;
	animation-name: fadeout;
	animation-duration: 100ms;
}
.slideup.in {
	-webkit-transform: translateY(0);
	-webkit-animation-name: slideinfrombottom;
	-webkit-animation-duration: 250ms;
	transform: translateY(0);
	animation-name: slideinfrombottom;
	animation-duration: 250ms;
}
.slideup.in.reverse {
	-webkit-animation-name: fadein;
	-webkit-animation-duration: 150ms;
	animation-name: fadein;
	animation-duration: 150ms;
}
.slideup.out.reverse {
	-webkit-transform: translateY(100%);
	-webkit-animation-name: slideouttobottom;
	-webkit-animation-duration: 200ms;
	transform: translateY(100%);
	animation-name: slideouttobottom;
	animation-duration: 200ms;
}
@-webkit-keyframes slideinfrombottom {
	from { -webkit-transform: translateY(100%); }
	to { -webkit-transform: translateY(0); }
}
@keyframes slideinfrombottom {
	from { transform: translateY(100%); }
	to { transform: translateY(0); }
}
@-webkit-keyframes slideouttobottom {
	from { -webkit-transform: translateY(0); }
	to { -webkit-transform: translateY(100%); }
}
@keyframes slideouttobottom {
	from { transform: translateY(0); }
	to { transform: translateY(100%); }
}
/* The properties in this rule are only necessary for the 'flip' transition.
 * We need specify the perspective to create a projection matrix. This will add
 * some depth as the element flips. The depth number represents the distance of
 * the viewer from the z-plane. According to the CSS3 spec, 1000 is a moderate
 * value.
 */
.viewport-flip {
	-webkit-perspective: 1000;
	perspective: 1000;
	position: absolute;
}
.flip {
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateX(0); /* Needed to work around an iOS 3.1 bug that causes listview thumbs to disappear when -webkit-visibility:hidden is used. */
	backface-visibility: hidden;
	transform: translateX(0);
}
.flip.out {
	-webkit-transform: rotateY(-90deg) scale(.9);
	-webkit-animation-name: flipouttoleft;
	-webkit-animation-duration: 175ms;
	transform: rotateY(-90deg) scale(.9);
	animation-name: flipouttoleft;
	animation-duration: 175ms;
}
.flip.in {
	-webkit-animation-name: flipintoright;
	-webkit-animation-duration: 225ms;
	animation-name: flipintoright;
	animation-duration: 225ms;
}
.flip.out.reverse {
	-webkit-transform: rotateY(90deg) scale(.9);
	-webkit-animation-name: flipouttoright;
	transform: rotateY(90deg) scale(.9);
	animation-name: flipouttoright;
}
.flip.in.reverse {
	-webkit-animation-name: flipintoleft;
	animation-name: flipintoleft;
}
@-webkit-keyframes flipouttoleft {
	from { -webkit-transform: rotateY(0); }
	to { -webkit-transform: rotateY(-90deg) scale(.9); }
}
@keyframes flipouttoleft {
	from { transform: rotateY(0); }
	to { transform: rotateY(-90deg) scale(.9); }
}
@-webkit-keyframes flipouttoright {
	from { -webkit-transform: rotateY(0) ; }
	to { -webkit-transform: rotateY(90deg) scale(.9); }
}
@keyframes flipouttoright {
	from { transform: rotateY(0); }
	to { transform: rotateY(90deg) scale(.9); }
}
@-webkit-keyframes flipintoleft {
	from { -webkit-transform: rotateY(-90deg) scale(.9); }
	to { -webkit-transform: rotateY(0); }
}
@keyframes flipintoleft {
	from { transform: rotateY(-90deg) scale(.9); }
	to { transform: rotateY(0); }
}
@-webkit-keyframes flipintoright {
	from { -webkit-transform: rotateY(90deg) scale(.9); }
	to { -webkit-transform: rotateY(0); }
}
@keyframes flipintoright {
	from { transform: rotateY(90deg) scale(.9); }
	to { transform: rotateY(0); }
}
/* The properties in this rule are only necessary for the 'flip' transition.
 * We need specify the perspective to create a projection matrix. This will add
 * some depth as the element flips. The depth number represents the distance of
 * the viewer from the z-plane. According to the CSS3 spec, 1000 is a moderate
 * value.
 */
.viewport-turn {
	-webkit-perspective: 200px;
	perspective: 200px;
	position: absolute;
}
.turn {
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateX(0); /* Needed to work around an iOS 3.1 bug that causes listview thumbs to disappear when -webkit-visibility:hidden is used. */
	-webkit-transform-origin: 0;

	backface-visibility :hidden;
	transform: translateX(0);
	transform-origin: 0;
}
.turn.out {
	-webkit-transform: rotateY(-90deg) scale(.9);
	-webkit-animation-name: flipouttoleft;
	-webkit-animation-duration: 125ms;

	transform: rotateY(-90deg) scale(.9);
	animation-name: flipouttoleft;
	animation-duration: 125ms;
}
.turn.in {
	-webkit-animation-name: flipintoright;
	-webkit-animation-duration: 250ms;
	animation-name: flipintoright;
	animation-duration: 250ms;

}
.turn.out.reverse {
	-webkit-transform: rotateY(90deg) scale(.9);
	-webkit-animation-name: flipouttoright;
	transform: rotateY(90deg) scale(.9);
	animation-name: flipouttoright;
}
.turn.in.reverse {
	-webkit-animation-name: flipintoleft;
	animation-name: flipintoleft;
}
@-webkit-keyframes flipouttoleft {
	from { -webkit-transform: rotateY(0); }
	to { -webkit-transform: rotateY(-90deg) scale(.9); }
}
@keyframes flipouttoleft {
	from { transform: rotateY(0); }
	to { transform: rotateY(-90deg) scale(.9); }
}
@-webkit-keyframes flipouttoright {
	from { -webkit-transform: rotateY(0) ; }
	to { -webkit-transform: rotateY(90deg) scale(.9); }
}
@keyframes flipouttoright {
	from { transform: rotateY(0); }
	to { transform: rotateY(90deg) scale(.9); }
}
@-webkit-keyframes flipintoleft {
	from { -webkit-transform: rotateY(-90deg) scale(.9); }
	to { -webkit-transform: rotateY(0); }
}
@keyframes flipintoleft {
	from { transform: rotateY(-90deg) scale(.9); }
	to { transform: rotateY(0); }
}
@-webkit-keyframes flipintoright {
	from { -webkit-transform: rotateY(90deg) scale(.9); }
	to { -webkit-transform: rotateY(0); }
}
@keyframes flipintoright {
	from { transform: rotateY(90deg) scale(.9); }
	to { transform: rotateY(0); }
}
/* flow transition */
.flow {
	-webkit-transform-origin: 50% 30%;
	transform-origin: 50% 30%;
}
.flow.out {
	-webkit-transform: translateX(-100%) scale(.7);
	-webkit-animation-name: flowouttoleft;
	-webkit-animation-timing-function: ease;
	-webkit-animation-duration: 350ms;
	transform: translateX(-100%) scale(.7);
	animation-name: flowouttoleft;
	animation-timing-function: ease;
	animation-duration: 350ms;
}
.flow.in {
	-webkit-transform: translateX(0) scale(1);
	-webkit-animation-name: flowinfromright;
	-webkit-animation-timing-function: ease;
	-webkit-animation-duration: 350ms;
	transform: translateX(0) scale(1);
	animation-name: flowinfromright;
	animation-timing-function: ease;
	animation-duration: 350ms;
}
.flow.out.reverse {
	-webkit-transform: translateX(100%);
	-webkit-animation-name: flowouttoright;
	transform: translateX(100%);
	animation-name: flowouttoright;
}
.flow.in.reverse {
	-webkit-animation-name: flowinfromleft;
	animation-name: flowinfromleft;
}
@-webkit-keyframes flowouttoleft {
	0% { -webkit-transform: translateX(0) scale(1); }
	60%, 70% { -webkit-transform: translateX(0) scale(.7); }
	100% { -webkit-transform: translateX(-100%) scale(.7); }
}
@keyframes flowouttoleft {
	0% { transform: translateX(0) scale(1); }
	60%, 70% { transform: translateX(0) scale(.7); }
	100% { transform:  translateX(-100%) scale(.7); }
}
@-webkit-keyframes flowouttoright {
	0% { -webkit-transform: translateX(0) scale(1); }
	60%, 70% { -webkit-transform: translateX(0) scale(.7); }
	100% { -webkit-transform:  translateX(100%) scale(.7); }
}
@keyframes flowouttoright {
	0% { transform: translateX(0) scale(1); }
	60%, 70% { transform: translateX(0) scale(.7); }
	100% { transform:  translateX(100%) scale(.7); }
}
@-webkit-keyframes flowinfromleft {
	0% { -webkit-transform: translateX(-100%) scale(.7); }
	30%, 40% { -webkit-transform: translateX(0) scale(.7); }
	100% { -webkit-transform: translateX(0) scale(1); }
}
@keyframes flowinfromleft {
	0% { transform: translateX(-100%) scale(.7); }
	30%, 40% { transform: translateX(0) scale(.7); }
	100% { transform: translateX(0) scale(1); }
}
@-webkit-keyframes flowinfromright {
	0% { -webkit-transform: translateX(100%) scale(.7); }
	30%, 40% { -webkit-transform: translateX(0) scale(.7); }
	100% { -webkit-transform: translateX(0) scale(1); }
}
@keyframes flowinfromright {
	0% { transform: translateX(100%) scale(.7); }
	30%, 40% { transform: translateX(0) scale(.7); }
	100% { transform: translateX(0) scale(1); }
}