body {
  overflow: initial;
}
figure {
  display: inline-block;
}
.page {
  position: absolute;
  left: 0;
  right: 0;
  top: 49px !important;
  bottom: 49px !important;
  height: auto !important;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
  overflow-y: scroll;
}
.am-list-news {
  position: relative;
}
.am-list-news .loading-top {
  position: absolute;
  top: -70px;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: -1;
  height: 70px;
  line-height: 70px;
}
.am-list-news .loading-top figure {
  -webkit-transition: all 0.2s ease-in-out 0s;
}
.am-list-news .loading-top.on figure {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.img-load-box {
  padding: 0;
  margin: 0;
  font-size: 0;
  line-height: 0;
}
.img-load-box li {
  display: inline-block;
  list-style: none;
  width: 50%;
  padding-bottom: 30%;
  height: 0;
  overflow: hidden;
}
.am-offcanvas-page {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.aside-nav {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1090;
  background: rgba(0, 0, 0, 0.15);
}
.aside-nav ul {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #333;
  width: 200px;
  -webkit-transform: translate(200px, 0);
  transform: translate(200px, 0);
  transition-timing-function: ease-in;
  margin: 0;
}
.aside-nav li {
  margin: 0;
  padding: 0;
  list-style: none;
  color: #999999;
}
.am-navbar {
  position: absolute;
}
.am-header-nav a {
  display: inline-block;
  width: 30px;
  text-align: center;
}
.am-navbar {
  line-height: 100%;
}
.mask {
  top: 0;
}
#pop-mask {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1000;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}
#pop-content {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1001;
  min-width: 50px;
  min-height: 50px;
  max-width: 200px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border-radius: 5px;
}
#pop-close {
  position: absolute;
  right: -10px;
  top: -10px;
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 100%;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
#pop-close:after {
  content: '';
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 10px;
  height: 2px;
  background-color: #fff;
  margin: -1px 0 0 -5px;
}
#pop-close:before {
  content: '';
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 2px;
  height: 10px;
  background-color: #fff;
  margin: -5px 0 0 -1px;
}
@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}
@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    -ms-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}
.pop-inio {
  -webkit-animation-duration: .1s;
  animation-duration: .1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}
@-webkit-keyframes zoomOut {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  100% {
    opacity: 0;
  }
}
@keyframes zoomOut {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    -ms-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  100% {
    opacity: 0;
  }
}
.pop-out {
  -webkit-animation-duration: .1s;
  animation-duration: .1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: zoomOut;
  animation-name: zoomOut;
}
